@{
    ViewData["Title"] = "Đăng nhập";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="p-3 shadow">
            <h3 class="text-info text-center">ĐĂNG NHẬP</h3>
            <form asp-action="Login">
                <div class="my-3">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Mặt khẩu</label>
                    <input type="password" name="matkhau" class="form-control" />
                </div>
                <div class="d-grid">

                    <input type="submit" value="Đăng nhập" class="btn btn-info btn-block" />
                </div>
            </form>
            <div class="my-3">
                <p class="text-center">Chưa có tài khoản? <a asp-action="Register">Đăng ký</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
