@model mvc.Models.Hoadon
@{
    ViewData["Title"] = "Đặt hàng thành công";
}
<h3>Đặt hàng thành công</h3>
<p>Đơn hàng mã số @Model.MaHd trị giá @(((int)Model.TongTien).ToString("n0"))đ đã được hệ thống ghi nhận. Chúng tôi sẽ sớm liên hệ bạn để xác nhận...</p>